{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "globals": {
    "__DEV__": false,
    "__TWITTER_CONSUMER_SECRET__": false,
  },
  "rules": {
    "react/jsx-quotes": 0,
    "jsx-quotes": [2, "prefer-double"]
  }
}
